.vscode/
**/*.code-workspace
.mypy_cache/

**/.trash/
**/.archive/
**/data/**/*.zip


**/*.log
**/docs/**/*.pdf
**/docs/**/*.svg
**/res/**/*.svg
**/*.stl
**/*.gcode
**/*.3mf
**/*.html

3dp/components/

pymakr.conf
.micropico